.mainFooter
  margin 0 auto
  width 50%
  text-align center
  @media screen and (max-width 768px)
    width 100%
  &__caption
    font-size 2rem
    color #fff
    margin-bottom 0
  &__darkline
    border 1px solid #232323
    box-shadow 0px 1px 0px 0px rgba(255, 255, 255, 0.1)
  &Copyright
    margin 5rem auto 8rem 
    font-size 1.1rem
    font-weight 200
    &__item
      text-shadow: -1px -1px 0px #181818
      display inline-block
      border-right 1px solid rgba(#000, 0.5)
      line-height 16px
      padding 0 20px
    @media screen and (max-width 1400px)
      &__item
        border none
      &:last-child 
        border-right none
.socialLinks
  list-style-type none
  text-align center
  padding 2rem 0
  position relative
  &__item
    position relative
    display inline-block
    padding .5rem
    border-radius 6px
    background #404040
    margin .5rem
    font-size 1.3rem
    color #FAFAFA
    top 0
    transition .5s
    color #303030
    width 3rem
    text-align center
    &:hover
      top -.5rem
    &_twiter:hover
      background #43B3E0
    &_facebook:hover
      background #3C5A98
    &_driblle:hover
      background #C4376B
    &_linkedin:hover
      background #006599
    &_tumblr:hover
      background #51718A
    &_google:hover
      background #DA2713
    &_github:hover
      background #FAFAFA

.link_grey
  color grey

// @media screen and (max-width 1000px)
//   .mainFooter
//     width 100%