.mainHeader
  padding 12% 0
  @media (max-width 768px)
    text-align center
  &__image
    border-radius 100%
    @media (max-width 768px)
      width 40%
  &__caption
    color #3e3e3e
    font-size 3rem
    font-weight 100
    @media (max-width 768px)
      font-size 2rem
  &__description
    font-size 1.5rem
    margin-bottom 3.4rem
    @media (max-width 768px)
      font-size 1rem
  &__accentuation
    font-weight 800
    color #3e3e3e