.portfolio
  @extend $indents
  background url("./images/overlay .png") center, #f4f4f4
  text-align center
  padding-bottom 7remx
  &__header
    color #3E3E3E
    font-size 1.5rem
    font-weight 200
    padding-bottom 1.5rem
  &__info
    font-size 1.3rem
    font
  &Item
    background #fff
    margin-bottom 30px
    &__caption
      font-weight 600
      font-size 1.6rem
      color #3E3E3E
      margin-bottom .5rem
      a
        text-decoration none
        color #3E3E3E
        &:hover
          text-decoration none
          color #3E3E3E
    &__info
      margin 0
      padding-bottom 2rem
      font-size 1.1rem
      font-weight 200
  &__footerText
    font-size 1.5rem
    font-weight 200