.portfolio
  @extend $indents
  background url("./images/overlay .png") center, #f4f4f4  
  padding-bottom 7rem
  &__header
    color #3E3E3E
    font-size 1.5rem
    font-weight 200
    padding-bottom 1.5rem
  &Item
    background #fff
    margin-bottom 30px
    text-align center
    &__image
      width 100%
    &__caption
      font-weight 600
      font-size 1.6rem
      color #3E3E3E
      margin-bottom .5rem
      a
        text-decoration none
        transition .5s
        &:hover
          color #43B3E0
    &__info
      margin 0
      padding-bottom 2rem
      font-size 1.1rem
      font-weight 200
  &__footerText
    font-size 1.5rem
    font-weight 200