.service
  @extend $indents
  background url("./images/overlay .png"), #fafafa
  text-align center
  font-weight 200
  & .caption
    font-size 2.5rem
  &__header
    font-size 1.8rem
  &__item
    padding 3rem 2.8rem
    background #fff
    border .2px solid #888
    font-weight 300
    @media (min-width 768px) and (max-width 1200px)
      padding 1.8rem 1.4rem
    @media (max-width 768px)
      font-weight 200
    & .caption
      font-size 2rem
      @media (min-width 768px) and (max-width 1200px)
        font-size 1.2rem
      @media (max-width 768px)
        font-size .9rem
    & i
      color #EA8A95
      font-size 7rem
  &__footer
    font-size 1.6rem
    @media (min-width 768px) and (max-width 1200px)
      font-size 1.4rem
