header.mainHeader.container
  .row
    .col-md-4
      img(src="./images/pic00.jpg").mainHeader__image
    .col-md-8
      h1.mainHeader__caption
        |Hi. I'm <span class="mainHeader__accentuation">Jane Doe.</span>
      p.mainHeader__description
        |And this is <span class="mainHeader__accentuation">Miniport</span>, a free, fully responsive HTML5 site template designed by <a href="#" class="link link_underline">AJ</a> for <a href="#" class="link link_underline">HTML5 UP</a> & released under the <a href="#" class="link link_underline">CCA license</a>.
      a(href="#").button Learn about what i do
