.container-fluid
  .mainFooter
    hr.mainFooter__darkline
    h3.mainFooter__caption Find me on...
    .socialLinks
      a.socialLinks__item.socialLinks__item_twiter(href="#")
        i.fa.fa-twitter
      a.socialLinks__item.socialLinks__item_facebook(href="#")
        i.fa.fa-facebook
      a.socialLinks__item.socialLinks__item_driblle(href="#")
        i.fa.fa-dribbble
      a.socialLinks__item.socialLinks__item_linkedin(href="#")
        i.fa.fa-linkedin
      a.socialLinks__item.socialLinks__item_tumblr(href="#")
        i.fa.fa-tumblr
      a.socialLinks__item.socialLinks__item_google(href="#")
        i.fa.fa-google-plus
      a.socialLinks__item.socialLinks__item_github(href="#")
        i.fa.fa-github
    hr.mainFooter__darkline
    ul.mainFooterCopyright
      li.mainFooterCopyright__item
        | © Untitled. All rights reserved.
      li.mainFooterCopyright__item
        | Design : 
        a.link.link_grey(href='#') HTML5 UP
      li.mainFooterCopyright__item
        | Demo images: 
        a.link.link_grey(href='#')  Unsplash
