header.mainHeader
  .row
    .col-md-5
      img(src="./images/pic00.jpg").mainHeader__image
    .col-md-7
      h1.mainHeader__caption
        |Hi. I'm Jane Doe.
      p.mainHeader__description
        |And this is Miniport, a free, fully responsive HTML5 site template designed by AJ for HTML5 UP & released under the CCA license.
      a(href="#").button Learn about what i do
