.container-fluid.portfolio(id="portfolio")
  .container
    .row
      .col-md-12
        .portfolio__header
          h2.caption Here’s some stuff I made recently.
          p.portfolio__info Proin odio consequat sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic1.png")
          h3.portfolioItem__caption
            a(href="#") Magna feugiat
          p.portfolioItem__info Ornare nulla proin odio consequat.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic2.png")
          h3.portfolioItem__caption
            a(href="#") Veroeros primis
          p.portfolioItem__info Ornare nulla proin odio consequat.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic3.png")
          h3.portfolioItem__caption
            a(href="#") Lorem ipsum
          p.portfolioItem__info Ornare nulla proin odio consequat.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic4.png")
          h3.portfolioItem__caption
            a(href="#") Magna feugiat
          p.portfolioItem__info Ornare nulla proin odio consequat.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic5.png")
          h3.portfolioItem__caption
            a(href="#") Veroeros primis
          p.portfolioItem__info Ornare nulla proin odio consequat.
      .col-md-4
        .portfolioItem
          a.portfolioItem__image(href="#")
            img(src="./images/port__pic6.png")
          h3.portfolioItem__caption
            a(href="#") Lorem ipsum
          p.portfolioItem__info Ornare nulla proin odio consequat.
    p.portfolio__footerText Lorem ipsum dolor sit sapien vestibulum ipsum primis?
    a.button(href="#") Get in touch with me
