.container-fluid.service(id="service")
  .container
    .row
      .col-md-12
        .service__header
          h2.caption
            |Here's all the stuff I do.
          p.service__info
            |Odio turpis amet sed consequat eget posuere consequat.
    .row
      .col-md-4.col-sm-4
        .service__item
          i.fa.fa-comments-o.
          h3.caption  Lorem ipsum dolor.
          p.service__info
            |Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
      .col-md-4.col-sm-4
        .service__item
          i.fa.fa-camera-retro.
          h3.caption  Lorem ipsum dolor.
          p.service__info
            |Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
      .col-md-4.col-sm-4
        .service__item
          i.fa.fa-thumbs-o-up.
          h3.caption  Lorem ipsum dolor.
          p.service__info
            |Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
    .row
      .col-md-12
        p.service__footer
          |Lorem ipsum dolor sit sapien vestibulum ipsum primis?
        a(href="#").button See some of my recent work