.button
  background #43B3E0
  color #fff
  border-radius 6px
  border 0
  font-weight 600
  text-decoration none
  transition .5s ease-in-out
  display inline-block
  padding 1rem 2.35rem
  &:hover
    background lighten(@background, 35%)