.button
  background-image url("./images/overlay .png")
  background #43B3E0
  color #fff
  font-size 2rem
  font-weight 600
  text-decoration none
  border-radius 6px
  border 1px solid grey
  display inline-block
  padding 1rem 2.35rem
  &:hover
    background lighten(@background, 30%)
    transition .5s ease-in-out
