.button
  background-image url("./images/overlay .png")
  background #43B3E0
  color #fff
  font-size 2rem
  font-weight 600
  text-decoration none
  border-radius 6px
  display inline-block
  padding 1rem 2.35rem
  text-shadow -1px -1px 0.5px rgba(0, 0, 0, 0.5)
  box-shadow inset 0px 0px 0px 1px rgba(0, 0, 0,0.5), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.75)
  &:hover
    background lighten(@background, 15%)
    transition .2s ease-in-out
  @media (max-width 968px)
    padding .5rem 1rem
    font-size 1.7rem

