.sectionCaption
  padding-bottom 1.5rem
  text-align center
  &__caption
    font-weight 600
    color #3e3e3e
    font-size 2.5rem
  &__description
     color #888
     font-size 1.5rem
     font-weight 200